body {
  background-color: #124230;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

#top {
  background-color: #05150f55;
}

img{
max-width:70%;
max-height:70%;
border-radius:20%;
border: 3px solid #000000;
margin-bottom: 2px;
}

h1 {
 padding-top: 20px;
}

li {
  text-align:left
  padding: 10px;
  margin-top:0%;
  margin-bottom:0%;
  margin-right: 20%;
  margin-left: 20%;
}

p {
  text-align: center;
  margin-top:0;
  margin-bottom:0;
  margin-right: 20%;
  margin-left: 20%;
}
  
#panelbackground {
    background: #;
  }

  ul {
    list-style-type: none;
  
  a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent element */
  }

  a:hover {
    text-decoration: underline; /* Add underline on hover, if desired */
  }
    background-color: #8efbc4;
    overflow: hidden;
    padding: 1en;
    text-align: center;
  }

.PicSpace {
  margin-top: 40px;
  justify-content: center;
}
